.levo_pozadina2{
    width: 100%;
    height: 250px;
    background: linear-gradient(to right,white,#D5EEBB);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-size: 5vh;
    font-weight: 500;
    color: #fff;
}
 
.slikeGalerije img{ 
    width: 30%!important;
  }

  .galerija{
    width:80% !important;
  margin: auto;
}

.spusti{
  margin-top: 10px;;
}
carousel-inner{ 
    width: 100%;;
}
.tales { 
    width: 100%;
  }
  .carousel-inner{
    margin:auto;
    width:100%;
    max-height:     600px !important;
  }
  .oboji{
    width: 100%;
    background: linear-gradient(to right,white,#D5EEBB);
    padding: 30px 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
  }