.sredina{
    font-size: large;
}

.sredina img{
    height: 500px;
    margin-bottom: 20px;
}

.nagrade{
    font-size: larger;
}
.nagrade img{
    width: 250px;
    height: 250px;
}

.nagrade a{
    color: lightgreen;
}

.slikaOnama{ 
    width: 60vh !important;
    height: 40vh !important;
}

.telefon{ 
    width: 40px;
    height: 40px !important;
}

